In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from skmultilearn.adapt import MLkNN
from sklearn.metrics import hamming_loss, accuracy_score

from skmultilearn.problem_transform import BinaryRelevance
from skmultilearn.problem_transform import LabelPowerset
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_multilabel_classification
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import RFE

In [2]:
aspects_df = pd.read_csv("./csv_result-Corel16k001-train.csv")

In [3]:
aspects_df = aspects_df.drop('id', axis = 1)
aspects_df.head()

,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8,Cluster9,Cluster10,...,village,walls,water,waves,wildlife,windows,wolf,woman,woods,zebra
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
feature_columns = [f'Cluster{x}' for x in range(1, 501)]

In [5]:
X = aspects_df[feature_columns]
y = aspects_df[aspects_df.columns.difference(feature_columns)]

In [6]:
X.head()

,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8,Cluster9,Cluster10,...,Cluster491,Cluster492,Cluster493,Cluster494,Cluster495,Cluster496,Cluster497,Cluster498,Cluster499,Cluster500
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
y.head()

,animal,arch,architecture,art,background,bay,beach,bears,birds,black,...,village,walls,water,waves,wildlife,windows,wolf,woman,woods,zebra
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# this will generate a random multi-label dataset
X, y = make_multilabel_classification(sparse = True, n_labels = 20,
return_indicator = 'sparse', allow_unlabeled = False)

In [9]:
# X = np.asarray(X)
# # y = np.asarray(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [10]:
# classifier = BinaryRelevance(RandomForestClassifier())
# classifier.fit(X_train, y_train)
# predictions = classifier.predict(X_test)
# accuracy_score(y_test,predictions)

In [11]:
# classifier = LabelPowerset(RandomForestClassifier())

param_grid = {'n_estimators' : range(100, 200, 5), 
#                  'max_features' : range(5,15)
             }

gsrf = GridSearchCV(RandomForestClassifier(), param_grid, cv = 10, n_jobs = -1, verbose = 5)
gsrf = LabelPowerset(gsrf)
gsrf.fit(X_train, y_train)

Fitting 10 folds for each of 20 candidates, totalling 200 fits

C:\Users\badal\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

LabelPowerset(classifier=GridSearchCV(cv=10, estimator=RandomForestClassifier(),
                                      n_jobs=-1,
                                      param_grid={'n_estimators': range(100, 200, 5)},
                                      verbose=5),
              require_dense=[True, True])

In [12]:
predictions = gsrf.predict(X_test)
accuracy_score(y_test,predictions)

0.8

In [13]:
classifier.fit(X_train, y_train)


predictions = classifier.predict(X_test)
accuracy_score(y_test,predictions)

NameError: name 'classifier' is not defined

In [ ]:
param_grid = {'n_estimators' : range(50, 110, 10), 
#                  'max_features' : range(5,15)
             }

In [ ]:
param_grid